<html>
<style>
	#c {
		min-width: 512;
	}
</style>
<canvas id='c' width=4096 height=4096 />
<script>
	var m = new WebAssembly.Memory({ initial: 1024 });
	var current = new Uint8ClampedArray(m.buffer);
	var cvs = document.getElementById('c');
	var ctx = cvs.getContext('2d');
	fetch(
		location,
		{ mode: 'no-cors' }
	).then(
		e => e.arrayBuffer()
	).then(
		e => WebAssembly.instantiate(
			e, {
			dbg: {
				i32: function (i) {
					function numToBin(num) {
						return (num >>> 0)
							.toString(2)
							.padStart(32, '0')
							.match(/.{1,8}/g)
							.join('_');
					}
					console.log(i, numToBin(i));
				}
			},
			x: {
				randInRange: function (min, max) {
					return Math.random() * (max - min) + min;
				}
			}, js: { mem: m }
		}
		)
	); function step() {
		ctx.putImageData(
			new ImageData(
				new Uint8ClampedArray(m.buffer),
				cvs.width,
				cvs.height
			),
			0,
			0
		); requestAnimationFrame(step);
	}
	requestAnimationFrame(step);
</script>
<html>